{% extends 'base.html' %}

{% block body %}
<div class="card">
    <div class="card-header">
        <div class="row row-cols-2 justify-content-between align-items-center">
            <div>
                <h3>Inventory</h3>
            </div>
            <div class="d-flex w-50 gap-2 justify-content-end align-items-center">
                <!-- <button class="btn btn-sm btn-success w-25" onclick="openAddProductModal()">Add Product</button>
                <button class="btn btn-sm btn-success w-25" onclick="openCategoriesListModal()">Category List</button> -->
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="d-flex align-items-center gap-2">
            <div class="d-flex flex-row gap-2" id="searchProductBars">
                <div class="input-group">
                    <select class="form-select form-select-sm" id="searchProductCategory">
                        <option value="">Select Category</option>
                    </select>
                </div>
                <div class="input-group">
                    <input type="search" class="form-control form-control-sm" name="search" id="searchProductName"
                        placeholder="Search Product">
                    <!-- <button class="btn btn-sm btn-success" type="submit" value="Search" id="searchButton">Search</button> -->
                </div>
            </div>
            <div>
                <button class="btn btn-sm btn-outline-success" onclick="clearProductSearch()">Clear Filters</button>
            </div>

        </div>
        <hr>
        <div class="d-flex flex-row flex-wrap gap-3" id="productsContainer" style="overflow: auto;">
            <!-- Products populated via JavaScript -->
        </div>
    </div>
</div>


{% include "inventory/stock.html" %}

{% include "utilities/confirm_delete.html" %}
{% endblock %}

{% block JS %}
<script src="static/js/products.js"></script>
<script src="static/js/categories.js"></script>
<script src="static/js/inventory.js"></script>
{% endblock %}