<!-- Invoice Template (Hidden) -->
<div id="invoiceTemplate" class="d-none">
    <div class="container-fluid p-4">
        <div class="row row-cols-2">
            <p class="mb-1"><strong><span id="invoiceDate"></span></strong></p>
            <p class="mb-1 text-end"><strong><span id="invoiceTime"></span></strong></p>
        </div>
        <!-- Logo -->
        <div class="text-center mb-2">
            <img src="" alt="Company Logo" class="mb-2" id="invoiceLogo" style="max-height: 150px;">
            <p id="invoiceAddress">Khanpur Mall, Nawan Kot Chowk</p>
            <p><span id="invoiceContact1">+923299699299</span> | <span id="invoiceContact2">+923084700887</span></p>
        </div>
        <h4 class="text-center mb-2 border border-dark">Token #<span id="invoiceNumber"></span></h4>
        <div class="row mb-2">
            
            <div class="col-6 text-start">
                <p><strong>Type: </strong><span id="invoiceOrderType"></span></p>
            </div>
            <div id="invoiceTable" class="col-6 text-end d-none">
                <p><strong>Table No.  <span id="invoiceTableNumber"></span></strong></p>
            </div>
        </div>
        <table class="table table-borderless">
            <thead class="border-bottom border-dark">
                <tr>
                    <th colspan="3" class="text-start">Product</th>
                    <th>Price</th>
                    <th>Qty.</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody id="invoiceItems">
                <!-- Populate from JS -->
            </tbody>
            <tfoot class="border-top border-dark">
                <tr>
                    <td colspan="3"></td>
                    <td colspan="1" class="text-start">Total:</td>
                    <td colspan="1"></td>
                    <td><span id="invoiceTotal"></span></td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td colspan="1" class="text-start">Discount:</td>
                    <td colspan="1"></td>
                    <td><span id="invoiceDiscount"></span></td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td class="border-top border-dark" colspan="1" class="text-start"><strong>G.Total:</strong></td>
                    <td class="border-top border-dark" colspan="1"></td>
                    <td class="border-top border-dark"><strong><span id="invoiceGrandTotal"></span></strong></td>
                </tr>
            </tfoot>
        </table>
        <div class="text-center mt-3">
            <h6 class="mb-1">Thanks for Purchase</h6>
        </div>
        <div class="text-center mt-3">
            <p>App Developed by Z-POS</p>
            <p>+923147864828 | +923454828652</p>
        </div>
    </div>
</div>
