{% extends 'base.html' %}

{% block body %}
<!-- <div class="card"> -->
    <div class="card-header">
        <div class="row row-cols-2 justify-content-between align-items-center">
            <div>
                <h3>Sales Dashboard</h3>
            </div>
            <div class="d-flex w-50 gap-2 justify-content-end align-items-center">
                <!-- <h6>Logged in as: admin</h6> -->
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row row-cols-2 h-100 justify-content-between">
            <!-- Left Side -->
            <div class="h-100 col-6 align-content-center" style="overflow-y: auto;">
                <div class="d-flex flex-row flex-wrap gap-4 justify-content-center" id="saleCardsContainer">
                    <!-- Sales Cards populated via JS -->
                </div>
            </div>
            <!-- Right Side -->
            <div class="card col-6">
                <!-- <div class="card-header">
                    <h4 class="text-truncate ">Last 20 Sales</h4>
                </div> -->
                <div class="card-body">
                    <table class="table table-responsive">
                        <thead>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Total</th>
                        </thead>
                        <tbody id="lastOrders">
                            <!-- Orders populated via JavaScript -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->
{% endblock body %}

{% block JS %}
<script src="static/js/dashboard.js"></script>
{% endblock JS %}