button, input {
    max-height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-items: center;
    /* color: var(--color-neutral-500); */
}
input {
    padding-inline: 3%;
    /* background-color: transparent; */
}