@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    /* --*: initial; */
    /* --color-*: initial; */
    /* --text-*: initial; */

    /* --spacing: 0.25rem; */
}

:root {
    /* --ui-bg: var(--color-white);
    
    --ui-primary: var(--ui-color-primary-600);
    --ui-secondary: var(--ui-color-secondary-400);

    --ui-success: var(--ui-color-success-500);
    --ui-info: var(--ui-color-info-500);
    --ui-warning: var(--ui-color-warning-500);
    --ui-error: var(--ui-color-error); */

    --ui-header-height: 10vh;
    font-size: clamp(0.75rem, 0.5rem + 0.5vw, 1.5rem);
    overflow-x: hidden;
}

.dark {
    /* --ui-bg: var(--color-black);

    --ui-primary: var(--ui-color-primary-600);
    --ui-secondary: var(--ui-color-secondary-500);

    --ui-success: var(--ui-color-success-400);
    --ui-info: var(--ui-color-info-400);
    --ui-warning: var(--ui-color-warning-400);
    --ui-error: var(--ui-color-error-400); */
}

.hidden {
    display: none !important;
    width: 0;
}

body {
   
    
    /* font-family: var(--font-family-sans-serif); */
    /* @apply antialiased text-default bg-black scheme-dark dark:scheme-light; */
}

/* #__nuxt {
    display: flex;
    box-sizing: border-box;
    overflow: auto;
    background-color: transparent;
} */
/* h1, h2, h3, h4, h5, h6, p, b, span, td, .btn, label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */

h1 {
    @apply text-5xl;
}
h2 {
    @apply text-4xl;
}
h3 {
    @apply text-3xl;
}
h4 {
    @apply text-2xl;
}
h5 {
    @apply text-xl;
}
h6 {
    @apply text-lg;
}
p, label, span {
    @apply text-base;
}

img {
    max-width: 100%;
    max-height: 100%;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    background-color: transparent;
    z-index: 100;
}

::-webkit-scrollbar-track {
    background-color: var(--color-neutral-500);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-neutral-800);
}

/* @media (max-width: 900px)  {
    .layout {
        grid-template-columns: 100% !important;
        grid-template-areas: 
            "topbar"
            "page-content" !important;
    }
} */